
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#demo {
    text-align: center;
    font-size: 1.5em;
    word-spacing: 10000px;


}

.codrops-header {
    padding: 2em 1em 2em;
    text-align: center;
}

.codrops-header h1 {
    margin: 0.5em 0 0;
    letter-spacing: -1px;
    font-size: 3em;
    line-height: 1;
}

.content {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 3em 0;
}

body {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #4b0f31;
    background-color: #f1e5e6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box {
    background-color: #dfc8ca;
    padding: 10.25rem 2.25rem;
}

.small-box {
	background-color: #f1e5e6;
    padding: 12.25rem 2.25rem;

}
